@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  height: 100vh;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 30em);
  grid-template-areas:
    'box1 box2 box3'
    'box1 box2 box3'
    'box1 box2 box3'
    'box1 box5 box3'
    'box1 box5 box3'
    'box4 box5 box3';
  gap: 2em;
}

.box1 {
  position: relative;
  grid-area: box1;
}

.box1 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 2.7em;
}

.box1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
}

.box2 {
  font-family: 'Inconsolata', monospace;
  background-color: #33a559;
  grid-area: box2;
  color: white;
  display: grid;
  place-content: center;
  padding: 0 3.5em;
}

.box2 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 1em;
}
.box2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 147.09%;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box5 {
  font-family: 'Inconsolata', monospace;
  background: #afddbe;
  grid-area: box5;
  display: grid;
  place-content: center;
}

.box5 h1 {
  color: #79ba8f;
  font-style: normal;
  font-weight: 700;
  font-size: 4.9rem;
  line-height: 5.7rem;
}
.details {
  padding: 1em 2.9em 2.5em 2.9em;
  width: 100%;
  position: absolute;
  background-color: white;
  bottom: 0;
}
.details p {
  max-width: 28ch;
}
